html {
  width: 100%;
  height: 100%;
}

body {
  color: #61443e;
  font-family: monospace;
  font-size: 15px;
  text-align: center;
  background-color: #efd1b5;
  margin: 0;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
  -webkit-transform: translate3d(0, 0, 0);
  width: 100%;
  height: 100%;
}

#hud {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 5px;
  color: #396FA3;
  text-align: left;
}

#info {
  position: absolute;
  top: 50px;
  right: 10px;
  padding: 10px;
  color: white;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 0 0 2px black, 0 0 5px black;
}

#crosshair {
  color: #dc143c;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

#horizon {
  width: 150px;
  margin: auto;
  -webkit-transform: translate3d(0, 0, 0) rotate(0);
}

#horizon > div {
  width: 50px;
  float: left;
  height: 1px;
}

#horizon .inner {
  border-bottom: solid 1px #7fff00;
}

#target {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  text-align: center;
  margin-left: -50px;
  color: #396FA3;
}

#target.behind {
  color: #808080;
}

#stats {
  right: 0;
  top: auto;
  bottom: 0;
}

#help,
#report {
  width: 80%;
  height: 80%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 8;
  display: none;
  overflow: auto;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0;
  /* box-shadow: 0 0 20px rgba(0,0,0,0.7); */
}

.paused #help {
  display: block;
}

#help p {
  text-align: left;
  padding: 0 20px;
}

#help table {
  margin: auto;
}

#help thead td {
  font-weight: bold;
}

#help td {
  padding: 0 20px;
}

#help td:first-child {
  text-align: left;
}

#help h2 {
  border: solid 1px white;
  border-radius: 10px;
  width: 450px;
  margin: auto;
}

#help #buttonLoading,
.loading #help #buttonReady {
  display: none;
}

#help #buttonReady,
.loading #help #buttonLoading {
  display: block;
}

#help a {
  color: white;
}
